.footer {
    display: flex;
    background-color: #062D3E;
}
.for-title {
    width: 50%;
    text-align: center;
    margin-top: 100px;
}
.contacts-li {
    display: inline-block;
}
.footer-1 a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-right: 32px;
}
.for-logo .l {
    background-color: white;
    width: 35px;
    height: 36px;
    border-radius: 50%;
    margin: 17px;
    padding: 13px;
    margin-bottom: 86px;
    margin-left: 32px;
}
 a:hover{
    color:aquamarine;
}